<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, format: :json), multipart: true, remote: true, data: {type: :json}) do |f| %>
  <%= f.error_notification %>

	<%= f.association :tracking_link, as: :hidden %>
  <%= f.input :first_name, label: false, hint: t('signup.forms.first_name_hint'), placeholder: t('signup.forms.first_name') %>
  <%= f.input :last_name, label: false, hint: t('signup.forms.last_name_hint'), placeholder: t('signup.forms.last_name') %>
	<%= f.input :email, label: false, hint: t('signup.forms.email_hint'), placeholder: t('signup.forms.email') %>

  <div class="input-eye">
  	<%= f.input :password, label: false, required: true, hint: t('signup.forms.password_hint'), placeholder: t('signup.forms.password') %>
    <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"
    onclick="masseur_password_eye()"></span>
  </div>

  <div class="input-eye">
    <%= f.input :password_confirmation, label: false, required: true, hint: t('signup.forms.password_hint'), placeholder: t('signup.forms.password_confirmation') %>
    <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"
    onclick="masseur_confirm_password_eye()"></span>
  </div>

  <%= f.input :dob, start_year: (Time.now.year - 18), end_year: (Time.now.year - 100), order: [:month, :day, :year], prompt: {month: t('signup.forms.month'), day: t('signup.forms.day'), year: t('signup.forms.year')}, label: t('signup.forms.dob'), required: false, hint: t('signup.forms.dob_hint'), input_html: {class: 'form-control'} %>

	<%= f.input :screen_name, label: false, input_html: {class: 'form-control'}, placeholder: t('signup.forms.username'), hint: t('signup.forms.username_hint') %>

  <%= f.input :mailing_zip, label: false, input_html: { class: 'form-control'}, placeholder: t('signup.forms.zip'), hint: t('signup.forms.zip_hint') %>

  <%= f.input :mailing_city, label: false, input_html: { class: 'form-control'}, placeholder: t('signup.forms.city'), hint: t('signup.forms.zip_hint_client') %>

  <%= f.input :mailing_state, label: false, collection: states_for_country(f.object.mailing_country), prompt: t('signup.forms.state'), hint: t('signup.forms.zip_hint_client') %>

  <%= f.input :contact_phone, label: false, input_html: { class: 'form-control'}, placeholder: t('signup.forms.phone'), hint: t('signup.forms.phone_hint') %>

  <div class="profile-photo-upload">
    <%= f.label :profile_photo, label: t('signup.forms.upload_photo') %>
    <%= f.label :profile_photo do %>
      <%= image_tag 'upload.png', class: 'profile-photo-preview thumbnail' %>
    <% end %>

    <%= f.input_field :profile_photo, class: 'profile-photo-upload-button' %>
  </div>

  <%= recaptcha_tags %>

	<%= f.submit t('signup.forms.submit'), class: 'btn btn-lg btn-success center-block', data: {disable_with: t('signup.forms.submitted')},onclick: 'masseur_confirm_password(event)' %>
<% end %>
