<% content_for :page_title do %>
  <i class="fa fa-user"></i> My Client Account
<% end %>

<% content_for :page do %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="col-md-8">
        <h4>Basic Information</h4>
  
        <%= f.input :email, hint: raw('Your email is only used for signing in.
It is <em>never</em> displayed.') %>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :first_name %>            
          </div>

          <div class="col-md-6">
            <%= f.input :last_name %>            
          </div>
        </div>
				
				<%= f.input :dob, start_year: (Time.now.year - 18), end_year: (Time.now.year - 100), order: [:month, :day, :year], prompt: {month: 'Birth month', day: 'Birth day', year: 'Birth year'}, label: 'Birth Date', hint: 'All masseurs must be at least 18.', required: true, input_html: {class: 'form-control'} %>
			</div>

  			<div class="col-md-4 profile-photo-sidebar">

          <h4>Profile Photo</h4>        
            <%= image_tag @client.profile_photo.url(:thumb), class: 'img-responsive' if @client.profile_photo.present? %>
            <%= f.input :profile_photo, label: false %>
  			</div>
		</div>
		

        
        <%= f.input :screen_name, hint: "If you don't set a screen name, masseurs will see your first name." %>
              
        <div class="row">
          <div class="col-md-3">
            <%= f.input :city, label: 'City' %>          
          </div>

          <div class="col-md-3">
        		<%= f.input :state, label: 'State', collection: states_for_country(f.object.country) %>     
          </div>
          
          <div class="col-md-3">
        		<%= f.input :country, label: 'Country', priority: ['US', 'MX'] %>     
          </div>

          <div class="col-md-3">
        		<%= f.input :zip, label: 'Zip / Postal Code', wrapper_html: {class: use_postal_code?(f.object.country) ? ' show' : 'hide'} %>          
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :phone, label: 'Phone', input_html: {data: {mask: phone_mask_for_country(f.object.country)}} %>            
          </div>

          <div class="col-md-6">
            <%= f.input :phone_type, label: 'Phone Type', collection: ['Mobile', 'Landline'], include_blank: false %>            
          </div>
        </div>

    		<%= f.input :email_new_masseurs, label: 'Send me updates when a new masseur is added in my area' %>
	
    		<%= f.input :email_masseur_profile_update, label: 'Send me updates when a masseur updates his profile or images' %>
	
    		<%= f.input :email_weekly_update, label: 'Send me a weekly update of new reviews for masseurs in my area' %>		

				<hr>
				
				<h4>Password <small>only required if you want to change it</small></h4>
				<div class="row">
					<div class="col-md-4 input-current-password-eye">
						<%= f.input :current_password %>
            <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"
              onclick="client_current_password_eye()"></span>
					</div>
					
					<div class="col-md-4 input-current-password-eye">
						<%= f.input :password, label: 'New password', placeholder: 'Leave blank to keep your current password' %>
            <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"
              onclick="client_password_eye()" onclick="client_password_eye()"></span>
					</div>

					<div class="col-md-4 input-confirm-pass-edit">
						<%= f.input :password_confirmation, label: 'Confirm new password' %>
            <span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"
                onclick="client_confirm_password_eye()"></span>
					</div>
				</div>
				
				<hr>

    <%= f.submit 'Update Account', class: 'btn btn-lg btn-primary center-block' %>
  <% end %>  
<% end %>

<%= render 'shared/client_nav', active: 'account' %>