<div class="row justify-content-center">
  <div class="col-md-12">
    <h2>Update Password</h2>
    <%= form_for resource, url: admin_update_password_path do |f| %>
      <div class="row">
        <div class="col-md-12">
          <% if resource.errors.any? %>
            <div  id="error_explanation">
              <h2 class="alert-heading">
                <%= pluralize(resource.errors.count, "error") %> prohibited
                request from being saved:
              </h2>
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

       <table style="border-collapse: separate; border-spacing: 0 20px;">
        <tr>
          <td style="width:100px"><%= f.label :password %></td>
          <td><%= f.password_field :password, required: true, class: 'form-control' %></td>
        </tr><br>

         <tr>
          <td style="width:100px"><%= f.label :password_confirmation %></td>&nbsp;
          <td><%= f.password_field :password_confirmation, required: true, class: 'form-control' %></td>
        </tr>
      </table>

       <%= f.submit "Change Password", class: 'btn btn-lg btn-primary'  %>
    <% end %>
  </div>
</div>
