<td align="center" valign="top">
  	<!-- BEGIN BODY // -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
          <tr>
              <td valign="top" class="bodyContent">
                  <h1 style="font-size:1.25em;">Your <%= @badge_type.titleize %> badge has been approved.</h1>
                  Congratulations, <%= @masseur.screen_name %>! We have received your documents and approved your <%= @badge_type.titleize %> badge. It is now visible on your ads, and it looks a little something like this:
									
									<br><br>
									<center>
									<%= image_tag "badge-#{@badge_code}.png", title: @badge_type.titleize %>
									</center>
									
									<br>
									Pretty snazzy, huh? Make sure you <%= link_to 'upload documents for all of the training and licenses you have', edit_masseur_masseur_documentation_url(@masseur) %> in order to earn all the badges.
									<br><br>Thank you for using M4M.net!
              </td>
          </tr>
      </table>
      <!-- // END BODY -->
  </td>
</tr>